* {
    margin: 0;
    padding: 0;
}

#main {
    background-color: #2C3443;
    display: grid;
}

#main_nav {
    background-color: #444A56;
    width:100vw;
    height:10vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#main_nav_title {
    color:#ffefdf;
    font-family: 'Kaushan Script', cursive;
}

#main_myPolls {
    padding:2%;
}

.main_myPolls_title {
    color:#ffefdf;
    font-family: 'Indie Flower', cursive;
}